<ng-container *ngIf="state$ | async as state">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Weather For</h1>
        <p class="lead" *ngIf="state.longitude && state.latitude">Latitude: {{ state.latitude }} Longitude: {{ state.longitude }}</p>
        <p class="display-4" *ngIf="state.cityName">City: {{ state.cityName }}</p>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ state.weatherDescription | titlecase }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ state.temperature }} <sup class="text-muted">o</sup>C</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>High: {{ state.maxTemperature }} <sup class="text-muted">o</sup>C</li>
                    <li>Low: {{ state.minTemperature }} <sup class="text-muted">o</sup>C</li>
                    <li>Humidity: {{ state.humidity }}%</li>
                    <li>Wind Speed: {{ state.windSpeed }} m/s</li>
                    <li>Wind Direction: {{ state.windDirection }} deg</li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <app-city-form></app-city-form>
    </div>
</ng-container>
