<ng-container *ngIf="state$ | async as state">
    <form (ngSubmit)="updateWeatherDate(weatherForm)" #weatherForm="ngForm">
        <div>
            <label for="city-name" class="mr-3">Please choose a city</label>
            <input
                type="text"
                name="city"
                class="form-control mb-3"
                id="city-name"
                placeholder="City Name e.g. Berlin"
                ngModel
                required
                [class.is-invalid]="!!state.error"
            />
            <div class="invalid-feedback mb-3" *ngIf="!!state.error">{{ state.error | titlecase }}</div>
        </div>
        <button type="submit" class="btn btn-primary mb-2" [disabled]="!weatherForm.valid || state.pending">Update Weather Data</button>
    </form>
</ng-container>
